* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filters {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  background: #f8f9fb;
  background: #f8f9fb;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 20px;

  input,
  select {
    max-width: 250px;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
  }

  input:focus,
  select:focus {
    border-color: #a17be3;
    box-shadow: 0 0 0 3px rgba(126, 92, 184, 0.15);
  }

  select:hover,
  input:hover {
    border-color: #bbb;
  }

  select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 35px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
}
